# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDE / Editors
.vscode/
.idea/

# Machine learning / deep learning models
*.h5
*.hdf5
*.pkl
*.joblib
*.pt
*.pth
*.onnx
*.ckpt
*.tflite